{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components",
    "stylelint-config-property-sort-order-smacss"
  ],
  "processors": ["stylelint-processor-styled-components"],
}